<?xml version="1.0" encoding="ISO-8859-1" ?>
<taglib>
    <tlib-version>l.0</tlib-version>
    <jsp-version>2.3</jsp-version>
    <shortname>tags</shortname>
    <tag>
        <name>message</name>
        <tag-class>it.source.tester.tag.ResourceBundleReaderTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>key</name>
            <required>true</required>
            <type>java.lang.String</type>
        </attribute>
    </tag>
</taglib>
